# Dependencias
node_modules

# Build
dist
.next
out
tsconfig.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Entorno (secretos locales)
.env
.env.local
.env.development
.env.production
.env.*.local

# Supabase
supabase/.branches
supabase/.temp

# Editor / OS
.DS_Store
*.local
.vscode/*
!.vscode/extensions.json
